.main{
    width: 100%;
    height: 40vh;
    padding: 55px;
}

.footer{
    margin-top: 50px;
    display: grid;
    gap: 20px;
   grid-template-columns: repeat(4,1fr);
   
}

.footer a{
    color:gray;
    font-size: 1rem;
    text-decoration: underline;
}

.footer a:hover{
    color: rgb(171, 26, 26);
}

.foot{
    display: flex;
    justify-content: end;
    margin-top: 9px;
    font-size: 1rem
}

.text{
    background-color: brown;
    padding: 4px;
    border-radius: 9px;
    
}